/*
Định nghĩa class theo breakpoint
- Màn hình mobile: xxs: col-xxs-{number}
- Màn hình Ipad mini: xs (extract small device): col-xs-{number}
- Màn hình ipad nằm dọc: sm (small device): col-sm-{number}
- Màn hình ipad nằm ngang: md (medium device): col-md-{number}
- Màn hình máy tính nhỏ: lg (large device): col-lg-{nubmer}
- Màn hình máy tính lớn: col-{number} (Bởi vì đang xây dựng theo desktop first)

Tư duy khi làm việc với grid system có breckpoint (Desktop first)
- Nếu chia cột ở màn hình máy tính lớn
- Khi chuyển sang màn hình máy tính nhỏ => Tất cả các cột sẽ tự động chuyển thành 1 cột (Trừ phi ở màn hình máy tính nhỏ có khai báo chia cột riêng (col-lg-{number}))
*/
:root{
    --container-width: 1170px;
    --column-spacing: 10px;
    --column-spacing-sm: 5px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}

.container-full{
    padding: 0 var(--column-spacing);
}

.row{
    margin-left: calc(0 - var(--column-spacing));
    margin-right: calc(0 - var(--column-spacing));
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/*
Định nghĩa với màn hình máy tính lớn: col-{number}
*/
.row-small{
    margin-left: calc(0 - var(--column-spacing-sm));
    margin-right: calc(0 - var(--column-spacing-sm));
}


.row-center{
    justify-content: center;
}

.row-collapse{
    margin: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    padding: 0 var(--column-spacing);
}

.row-small .col-1,
.row-small .col-2,
.row-small .col-3,
.row-small .col-4,
.row-small .col-5,
.row-small .col-6,
.row-small .col-7,
.row-small .col-8,
.row-small .col-9,
.row-small .col-10,
.row-small .col-11,
.row-small .col-12,
.row-small .col-lg-1,
.row-small .col-lg-2,
.row-small .col-lg-3,
.row-small .col-lg-4,
.row-small .col-lg-5,
.row-small .col-lg-6,
.row-small .col-lg-7,
.row-small .col-lg-8,
.row-small .col-lg-9,
.row-small .col-lg-10,
.row-small .col-lg-11,
.row-small .col-lg-12{
    padding: 0 var(--column-spacing-sm);
}

.row-collaps .col-1,
.row-collaps .col-2,
.row-collaps .col-3,
.row-collaps .col-4,
.row-collaps .col-5,
.row-collaps .col-6,
.row-collaps .col-7,
.row-collaps .col-8,
.row-collaps .col-9,
.row-collaps .col-10,
.row-collaps .col-11,
.row-collaps .col-12,
.row-collaps .col-lg-1,
.row-collaps .col-lg-2,
.row-collaps .col-lg-3,
.row-collaps .col-lg-4,
.row-collaps .col-lg-5,
.row-collaps .col-lg-6,
.row-collaps .col-lg-7,
.row-collaps .col-lg-8,
.row-collaps .col-lg-9,
.row-collaps .col-lg-10,
.row-collaps .col-lg-11,
.row-collaps .col-lg-12{
    padding: 0;
}

.col-1{
    max-width: calc(100%/(12/1)) ;
    flex-basis: calc(100%/(12/1));
}

.col-2{
    max-width: calc(100%/(12/2)) ;
    flex-basis: calc(100%/(12/2)) ;
}

.col-3{
    max-width: calc(100%/(12/3)) ;
    flex-basis: calc(100%/(12/3)) ;
}

.col-4{
    max-width: calc(100%/(12/4)) ;
    flex-basis: calc(100%/(12/4)) ;
}

.col-5{
    max-width: calc(100%/(12/5)) ;
    flex-basis: calc(100%/(12/5)) ;
}

.col-6{
    max-width: calc(100%/(12/6)) ;
    flex-basis: calc(100%/(12/6)) ;
}

.col-7{
    max-width: calc(100%/(12/7)) ;
    flex-basis: calc(100%/(12/7)) ;
}

.col-8{
    max-width: calc(100%/(12/8)) ;
    flex-basis: calc(100%/(12/8)) ;
}

.col-9{
    max-width: calc(100%/(12/9)) ;
    flex-basis: calc(100%/(12/9)) ;
}

.col-10{
    max-width: calc(100%/(12/10)) ;
    flex-basis: calc(100%/(12/10)) ;
}

.col-11{
    max-width: calc(100%/(12/11)) ;
    flex-basis: calc(100%/(12/11)) ;
}

.col-12{
    max-width: 100%;
    flex-basis: 100%;
}

@media screen and (max-width: 1400px) {
    .container{
        padding: 0 var(--column-spacing);
    }
}

/*Màn hình máy tính nhỏ lg*/
@media screen and (max-width: 1400px) {
    /*
    Chuyển tất cả các cột của màn hình máy tính lớn => 1 cột khi màn hình chuyển sang màn hình máy tính nhỏ
    */
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    /*Chia cột với màn hình máy tính nhỏ*/
    .col-lg-1{
        max-width: calc(100%/(12/1)) ;
        flex-basis: calc(100%/(12/1));
    }

    .col-lg-2{
        max-width: calc(100%/(12/2)) ;
        flex-basis: calc(100%/(12/2)) ;
    }

    .col-lg-3{
        max-width: calc(100%/(12/3)) ;
        flex-basis: calc(100%/(12/3)) ;
    }

    .col-lg-4{
        max-width: calc(100%/(12/4)) ;
        flex-basis: calc(100%/(12/4)) ;
    }

    .col-lg-5{
        max-width: calc(100%/(12/5)) ;
        flex-basis: calc(100%/(12/5)) ;
    }

    .col-lg-6{
        max-width: calc(100%/(12/6)) ;
        flex-basis: calc(100%/(12/6)) ;
    }

    .col-lg-7{
        max-width: calc(100%/(12/7)) ;
        flex-basis: calc(100%/(12/7)) ;
    }

    .col-lg-8{
        max-width: calc(100%/(12/8)) ;
        flex-basis: calc(100%/(12/8)) ;
    }

    .col-lg-9{
        max-width: calc(100%/(12/9)) ;
        flex-basis: calc(100%/(12/9)) ;
    }

    .col-lg-10{
        max-width: calc(100%/(12/10)) ;
        flex-basis: calc(100%/(12/10)) ;
    }

    .col-lg-11{
        max-width: calc(100%/(12/11)) ;
        flex-basis: calc(100%/(12/11)) ;
    }

    .col-lg-12{
        max-width: 100%;
        flex-basis: 100%;
    }
}


/*Ipad nằm ngang md*/
@media screen and (max-width: 1200px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    .col-md-1{
        max-width: calc(100%/(12/1)) ;
        flex-basis: calc(100%/(12/1));
    }

    .col-md-2{
        max-width: calc(100%/(12/2)) ;
        flex-basis: calc(100%/(12/2)) ;
    }

    .col-md-3{
        max-width: calc(100%/(12/3)) ;
        flex-basis: calc(100%/(12/3)) ;
    }

    .col-md-4{
        max-width: calc(100%/(12/4)) ;
        flex-basis: calc(100%/(12/4)) ;
    }

    .col-md-5{
        max-width: calc(100%/(12/5)) ;
        flex-basis: calc(100%/(12/5)) ;
    }

    .col-md-6{
        max-width: calc(100%/(12/6)) ;
        flex-basis: calc(100%/(12/6)) ;
    }

    .col-md-7{
        max-width: calc(100%/(12/7)) ;
        flex-basis: calc(100%/(12/7)) ;
    }

    .col-md-8{
        max-width: calc(100%/(12/8)) ;
        flex-basis: calc(100%/(12/8)) ;
    }

    .col-md-9{
        max-width: calc(100%/(12/9)) ;
        flex-basis: calc(100%/(12/9)) ;
    }

    .col-md-10{
        max-width: calc(100%/(12/10)) ;
        flex-basis: calc(100%/(12/10)) ;
    }

    .col-md-11{
        max-width: calc(100%/(12/11)) ;
        flex-basis: calc(100%/(12/11)) ;
    }

    .col-md-12{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/*Ipad nằm dọc sm*/
@media screen and (max-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    .col-sm-1{
        max-width: calc(100%/(12/1)) ;
        flex-basis: calc(100%/(12/1));
    }

    .col-sm-2{
        max-width: calc(100%/(12/2)) ;
        flex-basis: calc(100%/(12/2)) ;
    }

    .col-sm-3{
        max-width: calc(100%/(12/3)) ;
        flex-basis: calc(100%/(12/3)) ;
    }

    .col-sm-4{
        max-width: calc(100%/(12/4)) ;
        flex-basis: calc(100%/(12/4)) ;
    }

    .col-sm-5{
        max-width: calc(100%/(12/5)) ;
        flex-basis: calc(100%/(12/5)) ;
    }

    .col-sm-6{
        max-width: calc(100%/(12/6)) ;
        flex-basis: calc(100%/(12/6)) ;
    }

    .col-sm-7{
        max-width: calc(100%/(12/7)) ;
        flex-basis: calc(100%/(12/7)) ;
    }

    .col-sm-8{
        max-width: calc(100%/(12/8)) ;
        flex-basis: calc(100%/(12/8)) ;
    }

    .col-sm-9{
        max-width: calc(100%/(12/9)) ;
        flex-basis: calc(100%/(12/9)) ;
    }

    .col-sm-10{
        max-width: calc(100%/(12/10)) ;
        flex-basis: calc(100%/(12/10)) ;
    }

    .col-sm-11{
        max-width: calc(100%/(12/11)) ;
        flex-basis: calc(100%/(12/11)) ;
    }

    .col-sm-12{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/*Màn hình ipad mini xs*/
@media screen and (max-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    .col-xs-1{
        max-width: calc(100%/(12/1)) ;
        flex-basis: calc(100%/(12/1));
    }

    .col-xs-2{
        max-width: calc(100%/(12/2)) ;
        flex-basis: calc(100%/(12/2)) ;
    }

    .col-xs-3{
        max-width: calc(100%/(12/3)) ;
        flex-basis: calc(100%/(12/3)) ;
    }

    .col-xs-4{
        max-width: calc(100%/(12/4)) ;
        flex-basis: calc(100%/(12/4)) ;
    }

    .col-xs-5{
        max-width: calc(100%/(12/5)) ;
        flex-basis: calc(100%/(12/5)) ;
    }

    .col-xs-6{
        max-width: calc(100%/(12/6)) ;
        flex-basis: calc(100%/(12/6)) ;
    }

    .col-xs-7{
        max-width: calc(100%/(12/7)) ;
        flex-basis: calc(100%/(12/7)) ;
    }

    .col-xs-8{
        max-width: calc(100%/(12/8)) ;
        flex-basis: calc(100%/(12/8)) ;
    }

    .col-xs-9{
        max-width: calc(100%/(12/9)) ;
        flex-basis: calc(100%/(12/9)) ;
    }

    .col-xs-10{
        max-width: calc(100%/(12/10)) ;
        flex-basis: calc(100%/(12/10)) ;
    }

    .col-xs-11{
        max-width: calc(100%/(12/11)) ;
        flex-basis: calc(100%/(12/11)) ;
    }

    .col-xs-12{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/*Điện thoại xxs*/
@media screen and (max-width: 576px) {
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
    }

    .col-xxs-1{
        max-width: calc(100%/(12/1)) ;
        flex-basis: calc(100%/(12/1));
    }

    .col-xxs-2{
        max-width: calc(100%/(12/2)) ;
        flex-basis: calc(100%/(12/2)) ;
    }

    .col-xxs-3{
        max-width: calc(100%/(12/3)) ;
        flex-basis: calc(100%/(12/3)) ;
    }

    .col-xxs-4{
        max-width: calc(100%/(12/4)) ;
        flex-basis: calc(100%/(12/4)) ;
    }

    .col-xxs-5{
        max-width: calc(100%/(12/5)) ;
        flex-basis: calc(100%/(12/5)) ;
    }

    .col-xxs-6{
        max-width: calc(100%/(12/6)) ;
        flex-basis: calc(100%/(12/6)) ;
    }

    .col-xxs-7{
        max-width: calc(100%/(12/7)) ;
        flex-basis: calc(100%/(12/7)) ;
    }

    .col-xxs-8{
        max-width: calc(100%/(12/8)) ;
        flex-basis: calc(100%/(12/8)) ;
    }

    .col-xxs-9{
        max-width: calc(100%/(12/9)) ;
        flex-basis: calc(100%/(12/9)) ;
    }

    .col-xxs-10{
        max-width: calc(100%/(12/10)) ;
        flex-basis: calc(100%/(12/10)) ;
    }

    .col-xxs-11{
        max-width: calc(100%/(12/11)) ;
        flex-basis: calc(100%/(12/11)) ;
    }

    .col-xxs-12{
        max-width: 100%;
        flex-basis: 100%;
    }
}