//variable for color

$primary-bg-color: #896eff;
$secondary-bg-color: #fff;
$primary-color: #fff;
$heading-color: #1f2471;
$text-color: #505489;
$form-color: #888;

//position variable

//tl = top và left
//tr = top và right
//bl = bottom và left
//br = bottom và right
@mixin position($position, $x, $y) {
    position: absolute;
    
    @if ($position=='tl'){
        top: $x;
        left: $y;
    }@else if ($position=='tr'){
        top: $x;
        right: $y;
    }@else if ($position=='bl'){
        bottom: $x;
        left: $y;
    }@else{
        bottom: $x;
        right: $y;
    }
}

%positon-top_0-left_0{
    position: absolute;
    top: 0;
    left: 0;
}

//other variable

$gapmenu: 25px;

@keyframes nav-animation-1 {
    0% {transform: translate(0, -10px);}
    100% {transform: translate(0, 10px);}
    //76% {transform: translate(0, -10px);}
    //100% {padding: 50px 0;}
}


//back-to-top style

%back-to-top{
    position: fixed;
    bottom: 15px;
    color: $secondary-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

%back-to-top-right{
    i{
        @extend %back-to-top;
        left: 15px;
        border-radius: 50%;
        z-index: 2;
        transition: 1s all ease-in-out;
    }
    
    span{
        @extend %back-to-top;
        margin-left: 15px;
        color: #1f2471;
        width: 45px;
        overflow: hidden;
        border-radius: 25px;
        transition: 0.5s all ease-in-out;
        z-index: 0;
    }
    &:hover{
        i{
            //background: transparent;
        }
        span{
            width: 130px;
            padding-left: 25px;
            z-index: 0;
        }

    }
}

.back-to-top{
    position: relative;
    z-index: 1000;
    p{
        &:first-child{
            @extend %back-to-top;
            right: 15px;
            background-color: $primary-bg-color;
            border-radius: 4px;
        }
        &:nth-child(2){
            i{
                bottom: 15px + 60px;
                background-image: linear-gradient(45deg,#1ebbf0 8%,#39dfaa);
            }
            span{
                bottom: 15px + 60px;
                background-image: linear-gradient(45deg,#1ebbf0 8%,#39dfaa);
            }
            @extend %back-to-top-right;
        }

        &:nth-child(3){
            i{
                bottom: 15px;
                background-image: linear-gradient(180deg,#a3d179 0,#88ba46);
            }
            span{
                bottom: 15px;
                background-image: linear-gradient(180deg,#a3d179 0,#88ba46);
            }
            
            @extend %back-to-top-right;
        }
    }
}

/* .col-7, .col-lg-7, .col-md-7, .col-sm-7{
    width: 100% / (12 / 12);
} */

//header style

%style-nav{
    display: flex;
    height: 85px;
    align-items: center;
}


.header{
    height: 450px;
    position: relative;
    font-size: 1.07rem;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        /* top: 0;
        left: 0;
        position: absolute; */
        @extend %positon-top_0-left_0;
        background-color: $primary-bg-color;
        opacity: .8;
        z-index: 1;
    }

    //.top-menu{
    //    position: fixed;
    //}

    .header__topbar{
        position: relative;
        z-index: 2;
        .header__topbar--logo{
            width: 150px;
            @extend %style-nav;
            justify-content: flex-start;
            
        }
        
        .header__topbar--menu{
            @extend %style-nav;
            justify-content: flex-end;
            padding-right: 15px;

            .logo, .info{
                display: none;
            }

            > ul{
                display: flex;
                justify-content: flex-end;
                gap: $gapmenu;
                > li{
                    color: $primary-color;   
                    display: flex;
                    padding: 50px 0;

                    > i{
                        display: block;
                        font-size: 0.8rem;
                        margin-top: 5px;
                        margin-left: 5px;
                    }

                    > a{
                    }
                    
                    > ul{
                        display: none;
                        visibility: hidden;
                        //display: block;
                        position: absolute;
                        top: 100%;
                        width: 215px;
                        background-color: $secondary-bg-color;
                        margin-left: -$gapmenu / 2;
                        padding: 5px 0;
                        margin-top: 20px;

                        transition: 0.25s margin-top ease-in-out;

                        > li{
                            padding-top: 10px;
                            padding-left: 25px;
                            padding-bottom: 10px;
                            position: relative;
                            transition: 0.25s all ease-in-out;

                            &:last-child{
                                //margin-bottom: 0;
                                border: none;
                            }

                            &::before{
                                content: '\f068';
                                font-family: "Font Awesome 5 Free"; 
                                font-weight: 600;
                                font-size: 0;
                                color: #262f5a;
                                width: 0px;
                                height: 20px;
                                border-top: 1px solid #262f5a;
                                position: absolute;
                                top: 50%;
                                left: 25px;
                                transition: 0.3s all ease-in-out;
                                //visibility: hidden;
                            }

                            &:hover{
                                background-color: #F2F2F2;
                                padding-left: 45px;

                                &::before{
                                    //visibility: visible;
                                    width: 11px;
                                    border-color: $primary-bg-color;
                                    //font-size: 0.75rem;
                                }

                                > a{
                                    color: $primary-bg-color;
                                }
                            }

                            > a{
                                color: #262f5a;
                            } 
                        }
                    }

                    &:hover{

                        > a{
                            animation-name: nav-animation-1;
                            animation-duration: 0.15s;
                        }

                        &:first-child, &:last-child{
                            > a{
                                animation: none
                            }
                        }
    

                        > ul{
                            display: block;
                            visibility: visible;
                            margin-top: 0px;
                        }
                    }

                    
                    
                }
            }
        }
        
        .header__topbar--quote{
            @extend %style-nav;
            font-weight: 500;
            gap: 8px;
            justify-content: center;
            p{
                padding: 13px 30px;
                //background-color: #896eff;
                background-image: linear-gradient(90deg,#896eff 0,#5f3bff 80%);
                border-radius: 0 25px;
                transition: 0.25s border-radius ease-in-out;

                &:hover{
                    border-radius: 25px 0;
                }
                i{
                    padding-right: 5px;
                    font-size: 0.975rem;
                }
            }
        }      

        @media screen and /* (min-width: 768px) and  */(min-width: 991px){
            .header__topbar--menu{
                input, label{
                    display: none;
                }
            }
        }

        @media screen and /* (min-width: 768px) and  */(max-width: 991px){
            //.col-sm-1, .col-xs-1, .col-xxs-1{
            z-index: 10;

            .col-md-6{
                order: 3;
                width: 50px;
                //overflow: hidden;
            }
            
            .header__topbar--logo{
                
            }

            .header__topbar--menu{
                //position: relative;
                input{
                    display: none;   
                    position: relative;
                    z-index: 1000;
                    &:checked{
                        &~ .logo{
                            position: fixed;
                            display: block;
                            top: 15px;
                            left: 15px;
                            z-index: 30;
                        }
                        &~ ul{
                            position: fixed;
                            display: block;
                            flex-direction: column;
                            top: 0;
                            left: 0;
                            gap: 0;
                            background-color: $secondary-bg-color;padding-top: 85px;
                            padding-left: 15px;
                            height: 100vh;
                            width: 40%;
                            z-index: 10;

                            &::before{
                                content: '';
                                display: block;
                                position: fixed;
                                top: 0;
                                right: 0;
                                width: 60%;
                                height: 100vh;
                                background-color: #0600189f;
                            }

                            & > li{
                                width: 100%;
                                padding: 10px 0;
                                position: relative;
                                border-bottom: 1px solid #99999938;
                                &> a{
                                    color: #1f2471;
                                }

                                &> ul{
                                    width: 100%;
                                    top: 100%;
                                    z-index: 20;
                                }
                            }
                        }

                        &~ .info{
                            padding-top: 20px;
                            width: 40%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            position: fixed;

                            top: 350px;
                            left: 0px;
                            z-index: 30;
                            p{
                                a{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 30px;
                                    height: 30px;
                                    border: 1px solid #99999938;
                                    border-radius: 50%;
                                    
                                    i{
                                        color: $primary-bg-color;
                                    }
                                }
                            }
                        }
                    }
                }

                label{
                display: block;
                color: $primary-color;
                    margin-left: -15;
                }

                ul{
                    display: none;
                }
                
            }

            .header__topbar--quote{
                justify-content: flex-end;
            }
        }

        
        @media screen and /* (min-width: 768px) and  */(max-width: 500px){
            .header__topbar--menu{
                //position: relative;
                input{
                    &:checked{
                        &~ ul{
                            width: 60%;
                            &::before{
                                width: 40%;
                            }
                        }
                        &~ .info{
                            width: 60%;
                        }
                    }
                }
            }
        }

    }

    .header__slug{
        height: calc(450px - 85px - 85px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $primary-color;
        position: relative;
        z-index: 1;

        h1{
            font-size: 4.28rem;
            line-height: 2;
        }

        p{
            font-size: 1.29rem;
            font-weight: 400;
        }

        i{
            padding: 0 5px;
            font-size: 1rem;
            font-weight: 900;
        }
    }
}
