
$primary-bg-color: #896eff;
$secondary-bg-color: #fff;
$primary-color: #fff;
$heading-color: #1f2471;
$text-color: #505489;
$form-color: #888;
$border-color: #9c9c9c9f;

//

@keyframes subcribe__left {
    0% {transform: rotateX(-5deg);}
    50% {transform:rotate(5deg);}
    100% {transform: rotateX(-5deg);}
}

.subcribe{
    background-color: $primary-bg-color;
    padding: 70px 0 40px 0;

    .subcribe__left{
        p{
            //animation: subcribe__left 7s;
            //animation-iteration-count: infinite;
            padding-right: 5px;
        }
    }

    .subcribe__right{
        color: $primary-color;
        width: 95%;
        @mixin text-style($size, $weight, $height) {
            font-size: $size;
            font-weight: $weight;
            line-height: $height;
        }

        p{
            &:nth-child(1){
                @include text-style(1.285rem, 600, 1.57rem);
                //font-size: 1.285rem;
                //font-weight: 600;
                //line-height: 1.57rem;
                display: inline-block;
                padding: 10px 30px;
                background-color: rgba(250,248,242,.1);
                border-radius: 10px;
                position: relative;
                font-family: 'Source Sans Pro', sans-serif;
            }

            &:nth-child(3){
                @include text-style(1.071rem, 400, 1.785rem);
                padding: 30px 0 40px 0;
            }
        }
        h2{
            padding-top: 20px;
        }

        form{
            .subcribe__right--form{
                width: 65%;
                border-radius: 25px;
                box-shadow: 0 0 5px 2px #896eff80;
                //background-color: #1f2471;
                position: relative;

                @media screen and (max-width: 767px){
                    width: 80%;
                }
                @media screen and (max-width: 467px){
                    width: 100%;
                }

                @mixin form-style($padding1) {
                    border-radius: 25px;
                    border: none;
                    padding: $padding1;
                    font-size: 1.07rem;
                    font-family: 'Poppins', sans-serif;
                }
                input{
                    width: 100%;
                    @include form-style(15px 20px);
                    color: $form-color;
                }
                
                button{
                    position: absolute;
                    width: 35%;
                    top: 4px;
                    right: 4px;
                    background-color: $primary-bg-color;
                    color: $primary-color;
                    font-weight: 500;
                    @include form-style(11px 20px);

                    @media screen and (max-width: 1199px){
                        width: 50%;
                    }
                }
            }
        }
    }
}