*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    font-size: 2.714rem;
    font-weight: 700;
    line-height: 3.285rem;
    
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #fff;
}

ul, ol{
    list-style: none;
}

img{
    max-width: 100%;
}