.testmonial {
  background-color: #896eff;
  padding-bottom: 80px;
}

.testmonial .container-big {
  width: 95%;
  margin: 0 auto;
}

.testmonial .testmonial__left {
  /*  .row-nowrap{
            flex-wrap: nowrap;
            overflow: auto;
        } */
}

.testmonial .testmonial__left .testmonial__left--item {
  width: calc(100% / 3);
  color: #505489;
}

@media screen and (max-width: 1199px) {
  .testmonial .testmonial__left .testmonial__left--item {
    width: 50%;
  }
  .testmonial .testmonial__left .testmonial__left--item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .testmonial .testmonial__left .testmonial__left--item {
    width: 100%;
  }
  .testmonial .testmonial__left .testmonial__left--item:nth-child(2) {
    display: none;
  }
  .testmonial .testmonial__left .testmonial__left--item:nth-child(3) {
    display: none;
  }
}

.testmonial .testmonial__left .testmonial__left--item > div {
  padding: 0 15px;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px 4px #1f42871a;
          box-shadow: 0 0 10px 4px #1f42871a;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--content {
  border-bottom: 1px solid #e1e1f0;
  padding: 0 0 20px;
  margin-bottom: 20px;
  position: relative;
  font-size: 15px;
  font-weight: 400;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--info {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--info .info-left {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 3px solid #896eff;
  overflow: hidden;
  margin-right: 15px;
  background: #fff;
  position: relative;
  display: inline-block;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--info .info-left img {
  height: 100%;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--info .info-right h3 {
  font-size: 1.571rem;
  font-weight: 700;
  color: #1f2471;
  line-height: 26px;
  margin-bottom: 5px;
}

.testmonial .testmonial__left .testmonial__left--item .testmonial-1 .testmonial__item--info .info-right p i {
  color: #fea500;
}

.testmonial .testmonial__right {
  color: #fff;
}

.testmonial .testmonial__right h3 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #faf8f21a;
  margin-bottom: 20px;
  margin: 15px 0;
}

.testmonial .testmonial__right h2 {
  margin: 5px 0;
}

.testmonial .testmonial__right p {
  font-size: 1.071rem;
  margin: 10px 0;
}

@media screen and (max-width: 991px) {
  .testmonial .testmonial__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .testmonial .testmonial__right {
    padding: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .testmonial .slide-change {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.testmonial .slide-change {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.testmonial .slide-change p {
  display: inline-block;
  margin: 10px;
}

.testmonial .slide-change p a {
  color: #896eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.testmonial .slide-change p a:hover {
  color: #fff;
  background-color: #896eff;
}

.testmonial .slide-change p a i {
  font-size: 1.2rem;
  font-weight: 900;
}
/*# sourceMappingURL=testmonial.css.map */